//fonts
$font-montserrat: 'Montserrat', Arial, sans-serif;
$font-sanspro: 'Source Sans Pro', Arial, sans-serif;

//colors
$color-primary:#536ea5;
$color-additional: #b03939;
$color-text: #5d5f67;
