.footer__content {    
    background-color: #edeeef;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 30px;
}

.footer__item {
    width: 33%;
}

.footer__item:nth-child(1) {
    padding-right: 30px;    
}

.footer__item:nth-child(2) {
    padding-right: 30px;    
}

.footer__item h5 {
    padding-bottom: 5px;
    border-bottom: 1px solid;
    margin-bottom: 8px;
}

.footer__item li:hover {
    font-weight: bold;
}

.footer__copyright {
    width: 100%;
   background-color: #c8c9ca;
    text-align: center;
    font-size: 3.0rem;
    padding: 20px 0;       
}

.footer__copyright a {
    text-transform: uppercase;    
}
