.sale {
    padding: 30px;
}

.sale h4 {
    padding-left: 45px;
}

.sale__product {   
    padding: 30px 45px 30px 45px;
    display: flex; 
    justify-content: space-between;
    overflow: hidden;
}

.sale__product li {
   width: 20%;  
   overflow: hidden;
}

.sale-img {
    max-width: 350px;   
}

.sale-model {
    width: 100%;
    padding: 5px 0;
    font-weight: bold;
    color: $color-primary;   
    white-space: nowrap;  
    overflow: hidden; 
    text-overflow: ellipsis;   
    font-size: 2.4rem;     
}

.sale-description {       
    -webkit-line-clamp: 3; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; 
    text-align: justify;
    margin-bottom: 5px;
    font-size: 2.2rem;
}

.sale-price {
    font-weight: bold;
    color: $color-additional;
    font-size: 2.4rem;  
    padding-bottom: 5px;       
}

.old-price {
    text-decoration-line: line-through;
    padding-right: 5px;
}


