.header__ico {
    width: 20px;
    height: 20px;   
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding: 0 0 0 40px; 
}

.phone {
    background-image: url(../img/icons/phone.png);    
}

.email {
    background-image: url(../img/icons/email.png);
}